<!--favourite_photos html file-->
{{#partial "title" }}
    Check out my travel photos!
{{/partial}}

{{#partial "content"}}
<h1 class= "jumbotron-fluid">Favorite Traveling Photos</h1>
<p class= text-center><a href='/'>Read letter</a></p>
<ul>
    <li>
        <img class=img-responsive src='/images/friends-image.jpg' alt='A photo of a mountain range.'/>
    </li>
    <li>
        <img class=img-responsive src='/images/justfriends.jpg' alt='A photo of a swamp.'/>
    </li>
</ul>
{{/partial}}

{{> layout.hbs}}