<!--favourite_photos html file-->
<!DOCTYPE html>
<html>
<head>
    <title>Hello Friend!</title>
    <link rel='stylesheet'  href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body class = container>
<h1 class= jumbotron>Favorite Traveling Photos</h1>
<p class= text-center><a href='/hello'>Back home</a></p>
<ul>
    <li>
        <img class=img-responsive src='/images/friends-image.jpg' alt='A photo of a mountain range.'/>
    </li>
    <li>
        <img class=img-responsive src='/images/justfriends.jpg' alt='A photo of a swamp.'/>
    </li>
    </ul>
</body>
</html>
